<!DOCTYPE html>
<html>
   <script>
      alert("cookie is sent");
   </script>
   <head>
      <title>Blog</title>
      <style>
         input[type=text], input[type=search] {   
            width: 20%;   
            margin: 8px 0;  
            padding: 12px 20px;   
            display: inline-block;   
            border: 2px solid green;   
            box-sizing: border-box;   
        }  
        form {
        text-align: right;
       }
        button {   
           width: 15%;  
            padding: 15px;   
            margin: 10px 0px;   
            border: none;   
            cursor: pointer;   
         } 
      </style>
   </head>
   <body>
   Movies Blog
   </body>
   <body>
   <a href="home">Back to my Home</a>
   <form action='/post' method=POST>
      <input type="search" id="post" name="post" placeholder="Post...">
      <button onclick="search_animal()">Post</button>
   </form>
   <form  action="/logout" method=post>
      <button >Log out</button>
   </form>
   </body>
</html>




