<!DOCTYPE html>
<html>
   <!-- <script>
      alert("cookie is sent");
   </script> -->
   <head>
      <title>Blog</title>
      <style>
         input[type=text], input[type=search] {   
            width: 20%;   
            margin: 8px 0;  
            padding: 12px 20px;   
            display: inline-block;   
            border: 2px solid green;   
            box-sizing: border-box;   
        }  
        form {
        text-align: right;
       }
        button {   
           width: 15%;  
            padding: 15px;   
            margin: 10px 0px;   
            border: none;   
            cursor: pointer;   
         } 
      </style>
   </head>
   <body>
   Movies Blog
   </body>
   <body>
   <a href="home">Back to my Home</a>
   <form action='/post' method=get>
   </form>
   <form action='/logout' method=get>
      <!-- <input type="text" id="logout" name="logout placeholder="Add tittle..."> -->
      <button>Logout</button>
   </form>

   </form>
\
   <h2>Comments :     </h2>
   <span id="results"> </span>
   <form action='/add_comment' method=POST>
      <input type="text" id="comment" name="comment" placeholder="Add comment...">
      <button value="Submit" onClick="postcom()"">Comment</button>
   </form>
   <script>
      function postcom() {
      document.getElementById("results").innerHTML = document.getElementById('comment').value;
      }
 </script>
   </body>
</html>



