<!DOCTYPE html>
<html>
   <head>
      <title> Movies Blog</title>
   </head>
   Movies Blog
   <form method="post">
    Comments:<br />
    <input type="text" name="comment" style="width:80px;">
    <input type="submit" value="Submit" />
   </form\>
</html>




