<html>
   <head>
   
      <!-- function WriteCookie(name,password) {
         cookievalue= password + ";";
         cookie = "name = " + cookievalue;
         document.write ("Setting Cookies : " + "name = " + cookievalue );
       } --> 
   </head>
   <body>
    
   </body>
</html>