<!DOCTYPE html>
<html>
   <head>
      <title> Hacko website</title>
      <style>
         input[type=text], input[type=search] {   
            width: 20%;   
            margin: 8px 0;  
            padding: 12px 20px;   
            display: inline-block;   
            border: 2px solid green;   
            box-sizing: border-box;   
        }  
        form {
        text-align: right;
       }
        button {   
           width: 15%;  
            padding: 15px;   
            margin: 10px 0px;   
            border: none;   
            cursor: pointer;   
         } 
      </style>
      <center> <img src="head.jpg" alt="welcomeouruser" width="550" height="110"> </center>   

   </head>

   <body>
      <a href="blog">Go to my Blog</a>
      <br></br>
      <p style="font-family:courier;">
         Disney was born on December 5, 1901, in the Hermosa section of Chicago, <br>
      </p>
      <form action='/search' method=POST>
         <input type="search" id="query" name="query" placeholder="Search...">
         <button onclick="search_animal()">Search</button>
      </form>
      <h2>Tittles :     </h2>
         <span id="result"> </span>
      <form action='/add' method=POST>
         <input type="text" id="tittle" name="tittle" placeholder="Add tittle...">
         <button value="Submit" onClick="add()"">Add</button>
      </form>
      <script>
         function add() {
           document.getElementById("result").innerHTML = document.getElementById('tittle').value;
         }
       </script>
      <form action='/comment' method=POST>
         <!-- <input type="text" id="comment" name="comment" placeholder="Add Comment..."> -->
         <button>Comment</button>
        
      </form>
      <form action='/logout' method=get>
               <!-- <input type="text" id="logout" name="logout placeholder="Add tittle..."> -->
               <button>Logout</button>
      </form>
   </body>
</html> 