<!DOCTYPE html>
<html>
   <script>
      alert("cookie is saved");
   </script>
   <head>
      <title> Hacko website</title>
   </head>
<style>
   body{
      background-image: url("welcomeouruser.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
   }

     
</style>
   <body>
      Welcome our user!
      <!-- <img src="no thismovie.jpg" alt="this movie not available" width="200" height="80"> -->
   </body> 

   <body>
      <form>
      <button onclick="window.location.href='http:localhost:3000/movies';">add</button>
      </form>
   </body>

   <body>
      <form>
         <input type="search" id="query" name="q" placeholder="Search...">
         <button onclick="search_animal()">Search</button>
     
      </form>
   
   </body>

   <body>
      <form method="get" action="/blog" >
         <input type="submit" value="add Comment" />
      </form>
   </body>
</html> 