<!DOCTYPE html>
<html>
  <head>
    <title>Hi </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<p>Welcome  </p>
Feel free to add any titles
<form method ="post">
    <input type="text" name="title"> 
    <button onclick="movies">add</button>
    </form>
<div class="container1">
<img id="image" src="/th.jpg">
<br>
<label id="label1">Raya and the last dragon</label>
</div>
<div class="container2">
  <img id="image" src="/th (1).jpg">
  <br>
  <label id="label2">Avatar</label>
  </div>
  </body>
</html>
