<!DOCTYPE html>
<html>
  <head>
    <title>Hi </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<p>Welcome  </p>
Feel free to add any titles
<form method ="post">
    <input type="text" name="title"> 
    <button onclick="movies">add</button>
  </body>
</html>
